spring:
  datasource:
    url: jdbc:h2:mem:~/moheng;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: create

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

oauth:
  kakao:
    authorize_uri: https://kauth.kakao.com/oauth/authorize
    redirect_uri: http://localhost:3000
    client_secret: 3ZPJ93VC9MCuCXmPCDzrGmum2M3A7tif
    token_uri: https://kauth.kakao.com/oauth/token
    user_uri: https://kapi.kakao.com/v2/user/me

security:
  jwt:
    token:
      secret_key: secretsecretsecretsecretsecretsecret
      expire_length: 3600